<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:href="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>

    <title>Default Layout</title>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Play Money</a>
            </div>
            <form th:action="@{/logout}">
                <button class="btn btn-link pull-right navbar-brand" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <!--<div class="container-fluid">
        <div class="row">
            <div>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><br/>
                        <a th:href="@{'/operacoesContas.html'}">Operações agrupadas por contas</a><br/><br/>
                        <a th:href="@{'/operacoesOrdem.html'}">Operações agrupadas da mais nova para a mais antiga</a><br/><br/>
                        <a th:href="@{'/operacoes.html'}">Formulário de operações</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2 main">
                    <div th:include="__${conteudo}__"></div>
                </div>
            </div>
        </div>
    
</body>
</html> 