<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operações por contas</title>
</head>
<body>
    <main th:fragment="conteudo">
        <div class="page-header">
            <h1>Operações por contas</h1>  
        </div>   
           <table class="table table-bordered table-striped">
               <thead>
                   <th>Conta</th>
               </thead>
               <tbody>
                   <tr th:each="operacao : ${operacoes}">
                       <td th:text=${operacao.pagar}></td>
                   </tr>
               </tbody>
           </table>
    </main>    
    
</body>
</html>